<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l2">
                <h5>Contents</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/program/">Program</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/press/">Press</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                </ul>
            </div>
            <div class="col s12 m4 l2">
                <h5>GET INVOLVED</h5>
                <ul>
                    <li><a href="/program/#student">As a Student</a></li>
                    <li><a href="/program/#company">As a Company</a></li>
                    <li><a href="/program/#mentor">As a Mentor</a></li>
                    <li><a href="/program/#coach">As a Coach</a></li>
                </ul>
            </div>
            <div class="col s12 m4 l2">
                <h5>POWERCODERS</h5>
                <p>Breitfeldstrasse 27<br> CH - 3014 Bern<br>
                    <a href="mailto:info@powercoders.org"><i class="fas fa-envelope"></i>Email</a></p>
            </div>
            <div class="col s12 m6 l3">
                <h5>Mailinglist</h5>
                <p>Join our mailing list to receive the latest news and updates.</p>
                <p><a href="http://eepurl.com/c3pB1H" class="btn waves-effect waves-light pwc-red-light20"
                      target="_blank">Sign up now</a>
                </p>
            </div>
            <div class="col s12 m6 l3">
                <h5>Donate</h5>
                <p>We appreciate your support - you impact more people for a better future.</p>
                <p><a href="https://donorbox.org/donatepowercoders"
                      class="btn waves-effect waves-light pwc-red-light20">DONATE now</a></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">2018 © <a href="http://powercoders.org">POWERCODERS</a> |
                    <a href="/terms-and-conditions/">TERMS AND CONDITIONS</a> |
                    <a href="/privacy-policy/">PRIVACY POLICY</a>
                </div>
                <div class="col s12 m6 social">
                    <a href="https://twitter.com/PowerCodersHQ" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://www.linkedin.com/company/powercoders-coding-academy/" target="_blank"><i
                            class="fab fa-linkedin  fa-2x"></i></a> <a href="https://www.facebook.com/PowerCodersHQ/"
                                                                       target="_blank"><i
                        class="fab fa-facebook fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/app.js"></script>

</body>

</html>
