{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "section_title" .Params.section_title) }}

<div class="container">
    <div class="row">
        <div class="col s12 offset-l2 l8 markdown">
            {{ .Params.text | markdownify }}
            <hr class="whitespace">
            <h2>Timeline</h2>
            <ul class="timeline">
                {{ range $el := .Params.timeline }}
                <li class="event" data-date="{{$el.date}}">
                    <h5>{{$el.text}}</h5>
                </li>
                {{end}}
            </ul>
        </div>

    </div>
    <!-- end row -->
</div>
<!-- end container -->
<hr class="whitespace">
<div class="container">
    <div class="row">
        <div class="col s12 offset-l2 l8 markdown">
            {{ .Params.team.text | markdownify }}
        </div>
    </div>

    <div class="row portrait">
        {{ range $el := .Params.team.members }}
        <div class="col s6 m3 l2 animated" data-animation='fadeIn{{ index (first 1 (shuffle (slice "Left" "Right" "Up"))) 0 }}'>
            <div><img src="{{$el.image}}" class="responsive"
                      alt="{{$el.name}}"></div>
            <p><strong>{{$el.name}}</strong><br>{{$el.description}}
            </p>
        </div>
        {{end}}
    </div>
</div>
{{ end }}
