{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "section_title" .Params.section_title) }}

<div class="container">

    <div class="row">
        <div class="col s12 offset-m1 m10 offset-l2 l8">
            {{ .Params.text | markdownify }}
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->
<div class="blue-grey lighten-3">
    <div class="container section">
        <div class="row">
            <div class="col s12 offset-m1 m10 offset-l2 l8">
                <div class="row">
                    <div class="col s12 hoverable space box-border blue-grey lighten-4">
                        <a href="{{ .Params.donate.link }}">
                            <h2>{{ .Params.donate.heading }}</h2>
                            <h4 class="light">{{ .Params.donate.text }}</h4>
                            <object>
                                <a href="{{ .Params.donate.link }}"
                                   class="btn waves-effect waves-light pwc-red">
                                    {{ .Params.donate.call_to_action }}
                                </a>
                            </object>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
{{ end }}
