{{ define "international" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "section_title" .Params.section_title) }}

{{ partial "intro" (dict "header" .Params.intro.header "text" .Params.intro.text )}}

<div class="container">
    <div class="row section">
        <div class="col s12 offset-l2 l8">
            <h2>{{.Params.story.header}}</h2>
            <p class="markdown">{{.Params.story.text | markdownify}}</p>
            <div class="video-container">
              <iframe width="949" height="534" src="https://www.youtube.com/embed/-P7eFZaeDOo" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <iframe width="560" height="315" src= "https://www.youtube.com/embed/{{.Params.story.video_id}}" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
            </div>
            <hr class="whitespace">

            <div class="row">
                <div class="col s12">
                    <h2>Partner</h2>
                </div>
                {{ partial "partner" (dict "partner" .Params.partner )}}
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end row -->
</div>

{{ end }}
