{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "sectiontitle" .Params.sectiontitle) }}

<div class="container">
    <div class="row">
        <div class="col s12 offset-l2 l8">
            <p>If you are a media person please get in touch with us for our press releases and our press kit: <a
                    href="mailto:press@powercoders.org">press@powercoders.org</a></p>
            <hr class="whitespace">
            <h2>Media Coverage</h2>
            <div class="row">
                <div class="col s12 m3">
                    <h4>2018</h4>
                </div>
                <div class="col s12 m9">
                    <ul class="press">
                        <li>12.05.2018<br>
                            <a href="https://twitter.com/CNNMoneyCH/status/995331994224611328" target="_blank">Twitter –
                                CNNMoney Switzerland</a></li>

                        <li>13.03.2018<br>
                            <a href="https://www.linkedin.com/pulse/powercoders-die-l%C3%B6sung-f%C3%BCr-den-fachkr%C3%A4ftemangel-der-breitenstein/?trackingId=er6gsdbtDtXbpyADyfAtyA%3D%3D"
                               target="_blank">Powercoders: the solution to the shortage of skilled workers in IT?</a>
                        </li>

                        <li>12. 02. 2018<br>
                            <a href="https://drive.google.com/open?id=1RWJ5APZTWisFlD7D6IX0CNgyzJviYxru"
                               target="_blank">Successfully Integrated&nbsp; - 1</a><br>
                            <a href="https://drive.google.com/open?id=16uOKvxWO5LzbfFjV_-VTxdvVWDkujJty"
                               target="_blank">Successfully Integrated&nbsp; - 2</a></li>
                    </ul>
                </div>
                <div class="col s12 m3">
                    <h4>2017</h4>
                </div>
                <div class="col s12 m9">
                    <ul class="press">
                        <li>24.11.2017<br>
                            <a href="https://www.srf.ch/play/tv/10vor10/video/die-idee-fluechtlinge-fuer-die-it-branche?id=58aa68cc-ee8c-440e-808b-3fb5974b325f&amp;station=69e8ac16-4327-4af4-b873-fd5cd6e895a7"
                               target="_blank">«Die Idee»: Flüchtlinge für die IT-Branche</a>
                        </li>
                        <li>11.2017<br>
                            <a href="https://www.ronorp.net/zuerich/rons-tipps/zeitvertreib.593/stadtkolumnen-zuerich.643/powercoders-impacting-lives-by-teaching-to-code.995786"
                               target="_blank">Powercoders | Impacting lives by teaching to code</a></li>
                        <li>7.11.2017<br>
                            <a href="https://www.swissinfo.ch/eng/workforce-development_coding-boot-camps-take-off-in-switzerland/43653430"
                               target="_blank">Coding boot camps take off in Switzerland</a>
                        </li>
                        <li>28. 9. 2017<br>
                            <a href="https://www.blick.ch/news/schweiz/privater-verein-bildet-fluechtlinge-zu-it-spezialisten-aus-fortuna-sucht-ihr-glueck-als-programmiererin-id7385788.html"
                               target="_blank">Privater Verein bildet Flüchtlinge zu IT-Spezialisten aus</a>
                        </li>
                        <li>20. 9. 2017<br>
                            <a href="https://drive.google.com/file/d/0B6lwckdDqnvsMVQ1bHRBUTZXdDduYzh1VkJucWFaWVIxMU5j/view?usp=sharing"
                               target="_blank">Selbst gute Voraussetzungen reichen nicht unbedingt für einen Job</a>

                        </li>
                        <li>27. 8. 2017<br>
                            <a href="https://drive.google.com/file/d/0B2uJLN_oeL6BbjMzTkpkbnBhQUk/view" target="_blank">Mannar
                                Hielal ergreift ihre «silberne Chance»</a>
                        </li>
                        <li>26. 8. 2017<br>
                            <a href="https://www.bernerzeitung.ch/region/kanton-bern/farid-saberi-hats-geschafft/story/31731087"
                               target="_blank">Vom Flüchtling zum Computercrack</a>
                        </li>
                        <li>9. 8. 2017<br>
                            <a href="http://laufbahninfo.ch/powercoders-it-kurs-als-flucht-nach-vorn/" target="_blank">Powercoders:
                                IT-Kurs als Flucht nach vorn</a>
                        </li>
                        <li>10. 7. 2017<br>
                            <a href="https://tsri.ch/zh/powercoders-hier-programmieren-gefluchtete/#" target="_blank">Powercoders:
                                Hier programmieren Geflüchtete</a>
                        </li>
                        <li>
                            7. 7. 2017<br>
                            <a href="http://www.pszeitung.ch/powercoders-programmieren-statt-putzen/" target="_blank">Programmieren
                                statt putzen</a>

                        </li>
                        <li>6. 7. 2017<br>
                            <a href="http://onlinemagazin.business4you.ch/webdevelopment-als-integrationsweg-nutzen"
                               target="_blank">Webdevelopment als Integrationsweg nutzen</a>
                        </li>
                        <li>
                            20. 2. 2017<br>
                            <a href="http://www.bernerzeitung.ch/region/bern/mit-javascript-zum-ersten-job/story/28217431"
                               target="_blank">Mit Javascript zum ersten Job</a></li>
                    </ul>
                </div>
                <div class="col s12 m3">
                    <h4>2016</h4>
                </div>
                <div class="col s12 m9">

                    <ul class="press">
                        <li>31. 12. 2016<br>
                            <a href="http://www.derbund.ch/bern/stadt/mit-computercode-in-die-arbeitswelt/story/14938556"
                               target="_blank">Mit Computercode in die Arbeitswelt</a></li>
                        <li>1. 12. 2016<br>
                            <a href="http://www.bernerzeitung.ch/region/kanton-bern/itloesung-fuer-fluechtlinge/story/29590976"
                               target="_blank">IT-Lösung für Flüchtlinge</a></li>
                    </ul>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->
{{ end }}
