{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "section_title" .Params.section_title) }}

<div class="container">
    <div class="row">
        <div class="col s12 offset-l2 l8">
            {{.Params.text | markdownify}}
            <hr class="whitespace">
            <h2>Media Coverage</h2>
            <div class="row">

                {{ range $el := .Params.media }}
                <div class="col s12 m3">
                    <h4>{{$el.year}}</h4>
                </div>
                <div class="col s12 m9">
                    <ul class="press">
                        {{ range $entry := $el.entries }}
                        <li>{{$entry.date}}<br>
                            {{ range $link := $entry.links }}
                            <a href="{{$link.link}}"
                               target="_blank">{{$link.text}}</a><br>
                            {{end}}
                        {{end}}
                    </ul>
                </div>
                {{end}}

            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->
{{ end }}
