{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "sectiontitle" .Params.sectiontitle) }}
<div class="container">
    <div class="row">
        <div class="col s12 offset-l2 l8">
            <h2>Get involved</h2>
            <p>Powercoders is a coding academy for refugees. We believe that, in the 21st century, coding skills will
                help you to start a new life wherever you are forced to go.</p>
            <p>
                We offer a 3-month coding boot camp, followed by an internship. The ultimate goal of Powercoders is the
                permanent placement of trained refugees in IT-companies and IT-departments.
            </p>
        </div>
        <div class="col s12 offset-l2 l8">
            <ul class="collapsible">
                <li>
                    <div id="student" class="collapsible-header">
                        <h6>Participant</h6>
                    </div>
                    <div class="collapsible-body">
                        <h5>You study 13 weeks full time and then start a 6- to 12-month internship. The program is
                            meant for refugees with B and F status and in rare cases N.</h5>
                        <h6>What we Expect</h6>
                        <ul class="nobullet">
                            <li>Basic knowledge in IT</li>
                            <li>English fluency</li>
                            <li>Commitment</li>
                            <li>Full-time availability</li>
                        </ul>
                        <h6>What we Offer</h6>
                        <ul class="nobullet">
                            <li>Three-month intensive programming course</li>
                            <li>Additional support for laptop, food and transportation where needed</li>
                            <li>Coaching Program</li>
                            <li>Access to an internship lasting between 6 and 12 months</li>
                        </ul>
                        <p>Refugees who would like to take part should apply to the program closest to their place of
                            residence.</p>
                        <p><a href="https://form.jotformeu.com/81781784919373" target="_blank"
                              class="btn waves-effect waves-light pwc-red">Apply</a></p>

                        <p>We keep you posted about new cities</p>
                        <p><a href="http://eepurl.com/c3pB1H" target="_blank"
                              class="btn waves-effect waves-light pwc-red">subscribe</a></p>
                    </div>
                </li>
                <li>
                    <div id="mentor" class="collapsible-header">
                        <h6>Coach</h6>
                    </div>
                    <div class="collapsible-body">
                        <h5>Our participants need more than technical knowledge in order to achieve a sustainable
                            integration into employment.</h5>
                        <p>That’s why our program includes coaching. Each participant is accompanied by one volunteer
                            coach.</p>
                        <h6>Details</h6>
                        <ul class="nobullet">
                            <li>you connect well to people from variable cultures</li>
                            <li>you are working and well integrated in the Swiss labour market</li>
                            <li>you can commit to invest time for weekly meetings with your mentee</li>
                            <li>you are interested in the topics of jobcoaching and mentoring</li>
                            <li>coaching starts at the end of the programming course and last until the end of the
                                internship
                            </li>
                        </ul>
                        <!-- <ul class="nobullet">
                            <li>you are motivated to learn about another culture</li>
                            <li>you are a local</li>
                            <li>you spend time with each other once per week</li>
                            <li>coaching starts during school and lasts until the end of their internship</li>
                        </ul> -->
                        <p>If you are interested in coaching one of our participants, check our current programs for
                            opportunities.</p>
                        <p><a href="/city/basel/index.php" class="btn waves-effect waves-light pwc-red">Basel</a>
                        </p>
                        <p>We keep you posted about new cities</p>
                        <p><a href="http://eepurl.com/c3pB1H" class="btn waves-effect waves-light pwc-red"
                              target="_blank">subscribe</a></p>
                    </div>
                </li>
                <li>
                    <div id="coach" class="collapsible-header">
                        <h6>Trainer</h6>
                    </div>
                    <div class="collapsible-body">
                        <h5>You support our teachers as assistants.</h5>
                        <p>Teaching sessions usually take place in the mornings. In the afternoons, the participants
                            focus on practising the things they learned in the morning. That’s where our “Trainers” come
                            in, helping them individually or in groups to get their exercises and “homework” done. </p>
                        <h6>What we are looking for</h6>
                        <ul class="nobullet">
                            <li>IT professionals who wants to support participants solving IT challenges</li>
                            <li>Trainers who help teaching for some days in the afternoons</li>
                            <li>No teaching experience needed</li>
                        </ul>
                        <p>If you are interested in training our participants, please check our current programs for
                            opportunities.</p>
                        <p><a href="/city/basel/index.php" class="btn waves-effect waves-light pwc-red">Basel</a>
                        </p>
                        <p>We keep you posted about new cities</p>
                        <p><a href="http://eepurl.com/c3pB1H" class="btn waves-effect waves-light pwc-red"
                              target="_blank">subscribe</a></p>
                    </div>
                </li>
                <li>
                    <div id="company" class="collapsible-header">
                        <h6>Company</h6>
                    </div>
                    <div class="collapsible-body">
                        <h5>Our participants are highly qualified refugees and they are looking for your engagement and
                            support.</h5>
                        <h6>What we are looking for</h6>
                        <ul class="nobullet">
                            <li>IT-companies or IT departments offering a 6 to 12-month internship</li>
                            <li>Teams who are eager to train an intern</li>
                            <li>IT professionals who are interested in cultural exchange</li>
                        </ul>
                        <p>If you are interested in offering an internship and becoming our partner in empowering
                            refugees, please fill in the following form and share it with other companies who can
                            support us.</p>
                        <p><a href="/city/basel/index.php" class="btn waves-effect waves-light pwc-red">Basel</a>
                        </p>

                        <p>We want to learn to know about every company that supports our mission</p>

                        <p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-uJt-Zu3WtvC7lJbcwd1rQ9PaxSPpMeOzuwONxscA_AgCzg/viewform"
                               class="btn waves-effect waves-light pwc-red" target="_blank">get in touch</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->

<div class="grey lighten-4 section">
    <div class="container">
        <div class="row">
            <div class="col s12 offset-l2 l8">
                <h2>City Program</h2>
            </div>

            <div class="col s12 m6 hoverable btn-box teal lighten-4 animated" data-animation="fadeInRight">
                <a href="/city/basel/index.php">
                    <h6>Basel</h6>
                    <p>The program is starting on the 26th of November, 2018. Application is open.</p>
                    <object><a href="/city/basel/index.php" class="btn waves-effect waves-light pwc-red"
                               target="_blank"> More</a></object>
                </a>
            </div>

            <div class="col s12 m6  hoverable btn-box pwc-red-light20 animated" data-animation="fadeInLeft">
                <a href="http://eepurl.com/c3pB1H">
                    <h6>Next Program</h6>
                    <p>We are planning for other cities starting next year. Join our mailing list to receive the latest
                        news and updates.</p>
                    <object><a href="http://eepurl.com/c3pB1H" class="btn waves-effect waves-lightteal">Get updated</a>
                    </object>
                </a>
            </div>

            <!-- <div class="col s12 m6 hoverable btn-box pwc-red-light20 animated" data-animation="fadeInRight">
                <a href="http://eepurl.com/c3pB1H">
                    <h6>Basel</h6>
                    <p>The program is starting in the fall of 2018. Applications will soon be made available.</p>
                    <object><a href="http://eepurl.com/c3pB1H" class="btn waves-effect waves-light pwc-red" target="_blank"> Get updated</a></object>
                </a>
            </div> -->

        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<div class="container section">
    <div class="row">
        <div class="col s12 offset-l2 l8">
            <h2>Past Program</h2>
            <ul class="past-city">
                <li>
                    <a href="/city/bern/index.php">
                        <h6>Bern</h6> <span>Graduation 7.4.2017</span>
                    </a>
                </li>
                <li>
                    <a href="/city/zuerich/index.php">
                        <h6>Zürich</h6> <span>Graduation 22.12.17</span></a>
                </li>
                <li>
                    <a href="/city/lausanne/index.php">
                        <h6>Lausanne</h6> <span>Graduation 20.07.18</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ end }}
