{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "sectiontitle" .Params.sectiontitle) }}

{{ partial "intro" (dict "heading" .Params.intro.heading "text" .Params.intro.text )}}

{{ partial "parallax" (dict "parallax" .Params.teaser_image )}}

{{ partial "paragraph" (dict "paragraph" .Params.get_involved )}}

<div class="pwc-red-light20">
    <div class="container section">
        <div class="row">
            {{ range $el := .Params.program }}
            <div class="col s12 m6 l3 hoverable btn-box animated" data-animation="fadeIn{{$el.fade_in}}">
                <a href="{{$el.link}}">
                    <h2>{{$el.heading}}</h2>
                    <p>{{$el.text}}</p>
                    <object><a href="{{$el.link}}"
                               class="btn waves-effect waves-light pwc-red">{{$el.link_text}}</a></object>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="container section">
    <div class="row grow">
        <div class="col s12 offset-l2 l8">
            <h2>Latest</h2>
        </div>
        {{ range $el := .Params.latest }}
        <div class="col s12 m6 l4 hoverable latest-box animated" data-animation="fadeIn{{$el.fade_in}}">
            <a href="{{$el.link}}" target="_blank">
                <h6><i class="fas {{$el.heading_icon}} fa-2x"></i>{{$el.heading}}</h6>
                <p>{{$el.text}}</p>
                <p class="latest">{{$el.link_text}} <i class="fas fa-angle-double-right"></i></p>
            </a>
        </div>
        {{ end }}
    </div>
    <!-- end row -->
</div>

{{ partial "parallax" (dict "parallax" .Params.teaser_image2 )}}

<div class="container">
    <div class="row section">
        <div class="col s12 offset-l2 l8">
            <h2>{{.Params.story.heading}}</h2>
            <p>{{.Params.story.text | markdownify}}</p>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.Params.story.video_id}}" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <hr class="whitespace">

            <div class="row">
                <div class="col s12">
                    <h2>Partner</h2>
                </div>
                {{ range $el := .Params.partner }}
                <div class="col s12 m6">
                    <a href="{{$el.link}}" target="_blank">
                        <p><img src="{{$el.image}}"
                                alt="{{$el.name}}" class="responsive"></p>
                    </a>
                </div>
                {{ end }}
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end row -->
</div>

{{ end }}
